.heading-container{
    padding-top:160px;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    font-family: Aldrich, sans-serif;
}
.h22{
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 36px;
    width: 970px;
    align-self: center;
    line-height: 57.6px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;    
    color: rgb(17, 17, 17);
}
@media screen and (max-width:425px) {
    .heading-container{
        margin-top: 100px;
    }
    .h22{
        font-size: 30px;
        line-height: 48px;
    }
}